:root {
  font-family: Inter, sans-serif;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
    font-optical-sizing: auto;
  }
}

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

a,
a:visited {
  color: #00567c;
  text-decoration-thickness: 0.05em;
  text-underline-offset: 0.15em;
}

a:hover {
  color: var(--euro-sky-blue-100);
}

.l-section {
  padding: var(--euro-spacing-8);
}

.l-section:empty {
  padding: 0;
}

.l-paragraph {
  max-width: 45em;
  margin-block: var(--euro-spacing-3);
  font-size: 1em;
  line-height: 1.5;
}

.u-visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.u-unstyled-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.u-unstyled-button {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-align: unset;
  appearance: none;
  border: none;
  background-color: transparent;
  color: inherit;
  padding: 0;
  margin: 0;
}
