:root {
  font-family: Inter, sans-serif;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
    font-optical-sizing: auto;
  }
}

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

a,
a:visited {
  color: #00567c;
  text-decoration-thickness: 0.05em;
  text-underline-offset: 0.15em;
}

a:hover {
  color: var(--euro-sky-blue-500);
}

ul {
  margin-top: var(--euro-spacing-3);
}

li > ul {
  margin-top: 0;
}

dt {
  font-weight: bold;
  margin-top: var(--euro-spacing-3);
}

.u-visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.u-unstyled-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.u-unstyled-button {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-align: unset;
  appearance: none;
  border: none;
  background-color: transparent;
  color: inherit;
  padding: 0;
  margin: 0;
}

.l-section {
  padding: var(--euro-spacing-8);
  scroll-margin-top: var(--euro-header-height);
}

.l-section--centered-text,
.kirby-block {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  dl {
    max-width: 45rem;
    margin-inline: auto;
    scroll-margin-top: var(--euro-header-height);
  }
}

.l-centered-content {
  max-width: 45rem;
  margin-inline: auto;
  scroll-margin-top: var(--euro-header-height);
}

.l-cancel-section-padding {
  transform: translateX(calc(-1 * var(--euro-spacing-8)));
  width: calc(100% + var(--euro-spacing-8) * 2);
}

.l-section:empty {
  padding: 0;
}

.l-paragraph,
.kirby-block p {
  max-width: 45em;
  margin-block: var(--euro-spacing-3);
  font-size: 1em;
  line-height: 1.5;
}

.l-inline-icon-button {
  cursor: pointer;
  padding-inline: var(--euro-spacing-2);
}

.l-table {
  margin-top: 1rem;
}

.l-table--styled {
  border-collapse: collapse;

  tr {
    border: 1px solid var(--euro-black-a20);
  }

  td,
  th {
    padding: 0.5rem;
  }

  th {
    text-align: left;
    background-color: var(--euro-blue-500);
    color: white;
  }
}

.l-table--centred {
  width: 100%;
  margin-inline: auto;

  @media (min-width: 45rem) {
    max-width: 45rem;
  }
}

.kirby-grid {
  --columns: 12;
  --gutter: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--gutter);
}

@media (min-width: 768px) {
  .kirby-grid {
    grid-template-columns: repeat(12, 1fr);
  }
  .kirby-grid > .kirby-column {
    grid-column: span var(--columns);
  }
}
