:root {
  /* Colours */
  --euro-red-500: rgb(255, 0, 0);
  --euro-blue-500: rgb(0, 86, 124);
  --euro-sky-blue-500: rgb(107, 226, 228);

  --euro-gray-050: rgb(245, 245, 245);
  --euro-gray-100: rgb(230, 230, 230);
  --euro-gray-200: rgb(205, 205, 205);
  --euro-gray-300: rgb(180, 180, 180);
  --euro-gray-400: rgb(155, 155, 155);
  --euro-gray-500: rgb(130, 130, 130);
  --euro-gray-600: rgb(105, 105, 105);
  --euro-gray-700: rgb(80, 80, 80);
  --euro-gray-800: rgb(55, 55, 55);
  --euro-gray-900: rgb(30, 30, 30);
  --euro-black-a20: rgb(0 0 0 / 20%);
  --euro-black-a50: rgb(0 0 0 / 50%);

  /* Spacings */
  --euro-spacing-0-5: 0.125rem;
  --euro-spacing-1: 0.25rem;
  --euro-spacing-2: 0.5rem;
  --euro-spacing-3: 0.75rem;
  --euro-spacing-4: 1rem;
  --euro-spacing-5: 1.25rem;
  --euro-spacing-6: 1.5rem;
  --euro-spacing-7: 1.75rem;
  --euro-spacing-8: 2rem;
  --euro-spacing-9: 2.25rem;
  --euro-spacing-10: 2.5rem;
  --euro-spacing-12: 3rem;
  --euro-spacing-14: 3.5rem;
  --euro-spacing-16: 4rem;
  --euro-spacing-18: 4.5rem;
  --euro-spacing-20: 5rem;
  --euro-spacing-24: 6rem;
  --euro-spacing-32: 8rem;

  /* Lengths */
  --euro-header-logo-height: clamp(1.5rem, 3vw, 2rem);
  --euro-header-logo-margin: var(--euro-spacing-4);
  --euro-header-height: calc(var(--euro-header-logo-height) + var(--euro-header-logo-margin) * 2);
}
